*{
    padding: 0px;
    margin: 0px;
}
.calculator{
    margin-top: 8em;
}
h1{
    font-family:translate;
    text-align: center;
    background-color: rgb(16, 41, 41);
    width:538.5px;
    margin: auto;
    padding: 17px;
    color: whitesmoke;
}
.instructions{
    background-color: rgb(22, 21, 21);
    color: blanchedalmond;
    width: max-content;
    margin: auto;
    padding: 15px;
}
ul{
margin: 10px;
}
li{
    padding-top: 7px;
}
.calc{
    color: whitesmoke;
    background-color: rgb(16, 41, 41);
    width: 538.5px;
    margin: auto;
    padding: 16.5px;
    /* height: 150px; */
}
label{
   text-align: right;
   padding-bottom: 10px;
   margin-left:7px;
}
input{
    width: 250px;
    border-radius: 10px;
    padding:7px;
    margin-left:7px;
    border-style: none;
    outline: none;
}
button{
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    border-style: none;
    outline: none;
    margin-left: 15px;
    background-color: orange;
    color: black;
    font-family: Arial;
    font-weight: bold;
}
#Result{
    text-align: center;
    font-size: 18px;
    color: rgb(247, 242, 239);
    background-color: rgb(8, 19, 19);
    width: 570px;
    margin: auto;
    padding: 1px;
}
h2{
    text-align: center;
    margin: auto;
    background-color:rgb(187, 181, 181);
    color: rgb(28, 29, 29);
    width: 570px;
    padding: 1px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: darkslategray;
    }
    .calculator{
        margin:0px;
        background-color:black;
    }
    h1{
        font-family:translate;
        text-align: center;
        background-color: rgb(16, 41, 41);
        width:100%;
        padding: 10px;
        color: whitesmoke;
    }
    .instructions{
        background-color: rgb(22, 21, 21);
        color: blanchedalmond;
        width:100%;
        padding: 10px;
    }
    .calc{
        color: whitesmoke;
        background-color: rgb(16, 41, 41);
        width:100%;
        padding: 10px;
    }
    button{
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
        border-style: none;
        outline: none;
        /* margin-left: 15px; */
        background-color: orange;
        color: black;
        font-family: Arial;
        font-weight: bold;
        margin-top: 15px;
    }
    input{
        width: 150px;
        border-radius: 10px;
        padding:7px;
        margin-left:7px;
        border-style: none;
        outline: none;
    }
    #Result{
        text-align: center;
        font-size: 18px;
        color: rgb(247, 242, 239);
        background-color: rgb(8, 19, 19);
        width:100%;
        margin: auto;
        padding: 10px;
    }
    h2{
        text-align: center;
        margin: auto;
        background-color:rgb(187, 181, 181);
        color: rgb(28, 29, 29);
        width: 100%;
        padding: 10px;
    }
  }
